<br><br><br>

<div class="search-and-new">
  {{#link-to "projects-new" class="search-and-new--add-button"}}
    {{partial "svg/add"}} <span>Add Project</span>
  {{/link-to}}

  <label class="search-and-new--input-container">
    {{partial "svg/search"}}
    {{input value=query type="search" class="search-and-new--input" placeholder="Search"}}
  </label>
</div>

{{search-field placeholder="Search"
               query=query
               search=search
               results=searchResults}}

{{view "select" content=searchFilters
                optionLabelPath="content.label"
                optionValuePath="content.value"
                selection=selectedFilter
                class="project-filter"}}


{{will-paginate route="projects" data=model}}

<table class="projects-list">
  <thead>
    <tr>
      <th class="projects-list-heading">Name</th>
      <th class="projects-list-heading">Start Date</th>
      <th class="projects-list-heading">Investment Fridays</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |project|}}
      <tr>
        <td class="projects-list-row">{{#link-to "project-edit" project.id}}{{project.name}}{{/link-to}}</td>
        <td class="projects-list-row">{{readable-date project.startDate}}</td>
        <td class="projects-list-row">{{#if project.investmentFridays}}&#10003;{{/if}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<br>

<a href="{{unbound apiHost}}/reports/revenue.csv">Download Revenue Report</a>
