<div class="filter">
  {{#if filterBeingUsed}}
    <div class="filter-clear-all" {{action "clearAllFilters"}} title="clear all filters">
      {{partial "svg/x-circle"}}
    </div>
  {{/if}}

  <div class="filter-text">Humans in</div>
  {{filter-selector type="office" model=officeFilterModel}}
  <div class="filter-text">who</div>
  {{filter-selector type="role" model=roleFilterModel}}
  <div class="filter-text">working on</div>
  {{filter-selector type="project" model=projectFilterModel}}
</div>

<div class="search-and-new">
  {{#link-to "person-new" class="search-and-new--add-button"}}
    {{partial "svg/person-add"}} <span>Add Human</span>
  {{/link-to}}

  <label class="search-and-new--input-container">
    {{partial "svg/search"}}
    {{input value=search type="search" class="search-and-new--input" placeholder="Search"}}
  </label>
</div>

<div class="people-list">
  {{#each filteredPeople as |person|}}
    {{person-card model=person}}
  {{else}}
    <div class="people-list-no-results animation-slide-up">
      {{partial "svg/face-sad"}}
    </div>
  {{/each}}
</div>
