<div {{action "toggleOpen" bubbles=false}} class="filter-text">{{selectedList}}</div>

{{#if isOpen}}
  <div class="filter-modal animation-slide-up">
    <div class="filter-actions">
      <div {{action "toggleOpen" bubbles=false}} class="filter-action filter-action-done">
        Done
      </div>
      <div {{action "reset"}} class="filter-action filter-action-reset">
        Reset {{typeDisplay}} Filter
      </div>
    </div>

    <div class="filter-options">
      {{#each model.options as |option|}}
        {{#if option.visible}}
          <div class="filter-option {{if option.selected "filter-option--selected"}}" {{action "toggleSelect" option}}>
            {{partial "svg/check"}}
            {{option.displayName}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/if}}
