<div class="magnify"><i>&#128269;</i></div>
<div class="search">
  {{input search placeholder="Search"}}
</div>
<div class="person-icon"><i>&#128100;</i></div>
<div class="header">
  <div class="container">
    <h2> Neons in </h2>
    <h2>{{filter-selector class="select-office" modelBinding="officeFilterModel"}}</h2>
    <h2>who</h2>
    <h2>{{filter-selector class="select-role" modelBinding="roleFilterModel"}}</h2>
    <h2>working on</h2>
    <h2>{{filter-selector class="select-project" modelBinding="projectFilterModel"}}</h2>
  </div>
</div>

<div class="people-container">
  {{#each person in filteredPeople}}
    {{render 'person_card' person}}
  {{/each}}
</div>
