<div class="profile-container">
  <div class="profile">
    <div class="header"><h2>{{model.name}}</h2></div>

    <div class="person-card">
      <div class="picture"><img src={{model.avatar.medium}}></div>
      <div class="role">{{model.role}}</div>
      <div class="office">{{model.office.name}}</div>
      <div class="start-date">Start Date {{model.start_date}}</div>

      {{#if email}}
        <div class="email">
          <a href={{model.mailTo}}>
            <i>&#9993;</i>
          </a>
        </div>
      {{else}}
        <div class="email">
          <i class="placeholder">&#9993;</i>
        </div>
      {{/if}}

      {{#if twitter}}
        <div class="twitter">
          <a href={{model.twitterURL}} target="_blank">
            <i class="social">&#62217;</i>
          </a>
        </div>
      {{else}}
        <div class="twitter">
          <i class="placeholder social">&#62217;</i>
        </div>
      {{/if}}

      {{#if github}}
        <div class="github">
          <a href={{model.githubURL}} target="_blank">
            <i class="social">&#62208;</i>
          </a>
        </div>
        {{else}}
        <div class="github">
          <i class="placeholder social">&#62208;</i>
        </div>
      {{/if}}

      <div class="return-button">
        <i>&#11013;</i>
        {{#link-to "people"}}Return to List{{/link-to}}
      </div>

      <div class="about">
        <div class="profile-name">About {{model.firstName}}</div>
        <div class="bio"><p>{{model.bio}}</p></div>
        <div class="profile-project">Current Project</div>
        {{#each model.currentAllocations as |allocation|}}
          <div class="current-allocation">
            <p>{{allocation.project.name}}</p>
          </div>
        {{/each}}
      </div>

    </div>
  </div>
</div>
