<div class="profile-container">
  <div class="profile">
    <div class="header">
      <h2>{{name}}</h2>
    </div>

    <div class="person-card">
      <div class="picture"><img {{ bind-attr src="avatar.small"}}/></div>
      <div class="role">{{role}}</div>
      <div class="office">{{office.name}}</div>
      <div class="start-date">
        Start Date{{start_date}}
      </div>

      {{#if email}}
      <div class="email">
        <a {{bind-attr href="mailTo"}}>
          <i>&#9993;</i>
        </a>
      </div>
      {{else}}
      <div class="email">
        <i class="placeholder">&#9993;</i>
      </div>
    {{/if}}

    {{#if twitter}}
      <div class="twitter">
        <a {{bind-attr href="twitterURL"}}  target="_blank">
          <i class="social">&#62217;</i>
        </a>
      </div>
    {{else}}
      <div class="twitter">
        <i class="placeholder social">&#62217;</i>
      </div>
    {{/if}}

    {{#if github}}
      <div class="github">
        <a {{bind-attr href="githubURL"}} target="_blank">
          <i class="social">&#62208;</i>
        </a>
      </div>
      {{else}}
      <div class="github">
        <i class="placeholder social">&#62208;</i>
      </div>
    {{/if}}

      <button class="return-button">
      <i>&#11013;</i>
      {{#link-to 'people'}}Return to List{{/link-to}}
    </div>

    <div class="about">
      <div class="profile-name">
        About {{firstName}}
      </div>
      <div class="bio">
        <p>{{bio}}</p>
      </div>
      <div class="profile-project">
        Current Project
      </div>
      {{#each currentAllocations}}
        <div class="current-allocation">
          <p>{{project.name}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
