<a href="#" class="logo"></a>
<div class="user-actions">
  {{#each view.bottom_links as |link|}}
    <div class="global-settings">
      <a href={{link.url}} title={{link.link_text}}>
        <i>{{link.icon}}</i>
      </a>
    </div>
  {{/each}}
  <div class="global-logout"><a href="/#/sign_out"><i>&#59201;</i></a></div>
</div>
<ul class="nav-links">
  {{#each view.top_links as |link|}}
    <li class={{link.classes}}>
      <a href={{link.url}} title={{link.link_text}}>
        <i>{{link.icon}}</i> {{link.title}}
      </a>
    </li>
  {{/each}}
</ul>
