<div class="magnify"><i>&#128269;</i></div>

<div class="search">
  {{input value=search placeholder="Search"}}
</div>

<div class="person-icon"><i>&#128100;</i></div>

<div class="header">
  <div class="container">
    <h2>Neons in</h2>
    <h2>{{filter-selector class="select-office" model=officeFilterModel}}</h2>
    <h2>who</h2>
    <h2>{{filter-selector class="select-role" model=roleFilterModel}}</h2>
    <h2>working on</h2>
    <h2>{{filter-selector class="select-project" model=projectFilterModel}}</h2>
  </div>
</div>

<div class="people-container">
  {{#each filteredPeople as |person|}}
    {{render "person_card" person}}
  {{/each}}
</div>
