<div class="person-card">
  <div class="name">{{model.name}}</div>

  <div class="picture"><img src={{model.avatar.medium}}></div>

  <div class="holder">
    <div class="role">{{model.role}}</div>
  </div>

  <div class="office">{{model.office.name}}</div>

  <div class="assigned">Assigned To</div>

  <div class="current-project">
    {{#if model.allocated}}
      {{#each model.currentAllocations as |allocation|}}
        {{allocation.project.name}} {{allocation.formatted_percentage}}<br/>
      {{/each}}
    {{else}}
      {{if model.unsellable "Overhead" "Bench"}}
    {{/if}}
  </div>

  <div class="social-info">
    {{#if model.email}}
      <div class="email">
        <a href={{model.mailTo}}>
          <i>&#9993;</i>
        </a>
      </div>
    {{else}}
      <div class="email">
        <i class="placeholder">&#9993;</i>
      </div>
    {{/if}}

    {{#if model.twitter}}
      <div class="twitter">
        <a href={{model.twitterURL}} target="_blank">
          <i class="social">&#62217;</i>
        </a>
      </div>
    {{else}}
      <div class="twitter">
        <i class="placeholder social">&#62217;</i>
      </div>
    {{/if}}

    {{#if model.github}}
      <div class="github">
        <a href={{model.githubURL}} target="_blank">
          <i class="social">&#62208;</i>
        </a>
      </div>
    {{else}}
      <div class="github">
        <i class="placeholder social">&#62208;</i>
      </div>
    {{/if}}
  </div>

  <div class="edit-profile">
    {{#link-to "person.edit" model.id}}<i>&#9881;</i> Edit Profile{{/link-to}}
  </div>
</div>
